<div class="container-cards card shadow-sm">
  <div class="row">
    <div class="col-8 col-sm-3">
      <h2>Proyectos</h2>
    </div>
    <div class="col-4 col-sm-9">
      <a class="btn btn-edit p-0" *ngIf="isAdmin"
      (click)="onAgregar(agregarProyecto)"
      > <i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="row" *ngFor="let proyecto of proyectos">
      <div class="col-9 col-sm-11">
        <h3>
          <a href="#">{{ proyecto.tituloProyecto }}</a>
        </h3>
        <p class="fs-7">{{ proyecto.descripcionProyecto }}</p>
      </div>

      <div class="col-3 col-sm-1 d-flex gap-2 justify-content-end">
        <a *ngIf="isAdmin"
          (click)="openEdit(editarProyecto, proyecto)"
          class="btn btn-edit p-0"
          ><i class="fa-solid fa-pen"></i
        ></a>

        <a *ngIf="isAdmin"
          (click)="openDelete(deleteProyecto, proyecto)"
          class="btn btn-edit p-0"
          ><i class="fa-solid fa-eraser"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<!-- Agegar Proyecto template -->

<ng-template #agregarProyecto class="modales" let-c="close"
let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"
    id="modal-basic-title">Agregar Proyecto</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label>Titulo Proyecto:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="tituloProyecto"
            id="tituloProyecto"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="puesto">Descripcion Proyecto:</label>
        <div class="input-group">
          <textarea id="descripcionProyecto"
          name="descripcionProyecto"
            class="form-control" ngModel ></textarea>
        </div>
      </div>
      <br />
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="c('Save click')"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Editar Proyecto template -->

<ng-template #editarProyecto let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Proyecto</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="tituloProyecto">Titulo Proyecto:</label>
        <div class="input-group">
          <input formControlName="tituloProyecto" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="descripcionProyecto">Descripcion:</label>
        <div class="input-group">
          <textarea formControlName="descripcionProyecto" class="form-control"></textarea>
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Save click')"
      >
        Cerrar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()">
        Actualizar
      </button>
    </div>
  </div>
</ng-template>

<!-- Eliminar Proyecto template -->

<ng-template #deleteProyecto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Proyecto</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    </button>
  </div>
  <div class="modal-body">
    <h3 class="text-dark">¿Está seguro de eliminar este registro? </h3>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Cerrar
    </button>
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
      Eliminar
    </button>
  </div>
</ng-template>
