<div class="container_proyectos">
    <div class="row">
      <div class="col">
        <h2>Proyectos</h2>
      </div>
      <div class="row">
        <div class="col-9 col-sm-11" >
          <h3><a href="#">Argentina Programa</a></h3>
          <p class="fs-7">Desarrollo de mi portfolio personal, basado en Angular y utilizando Bootstrap </p>
        </div>
        <div class="col-3 col-sm-1 d-flex gap-2 justify-content-end">
          <a class="btn p-0"><i class="fa-solid fa-plus"></i></a>
          <a class="btn p-0"><i class="fa-solid fa-pen"></i></a>
          <a class="btn p-0"><i class="fa-solid fa-eraser"></i></a>
        </div>
      </div>
    </div>
  
  
  </div>