<div class="container_educacion shadow-sm">
    <div class="educacion_titulo"><h2>Eduacion</h2></div>
    <div class="educacion_icono"><img class="img_argentinaprograma" src="../assets/img\APLogo-20-20.png"
      alt="Argentina Programa" /></div>
    <div class="educacion_text"><h3>Argentina Programa</h3>
      <p>Programador Web Full Stack jr</p>
      <p>2021 - 2022</p></div>
    <div class="eduacion_edit d-flex gap-2">
      <a class="btn p-0"><i class="fa-solid fa-plus"></i></a>
      <a class="btn p-0"><i class="fa-solid fa-pen"></i></a>
      <a class="btn p-0"><i class="fa-solid fa-eraser"></i></a>
    </div>
  </div>