<div class="container-cards card shadow-sm">
  <div class="row">
    <div class="col-8 col-sm-3 mb-4 col-lg-2">
      <h2>Educacion</h2>
    </div>
    <div class="col-4 col-sm-9 col-lg-10">
      <a *ngIf="isAdmin" class="btn btn-edit p-0" (click)="onAgregar(agregarEdu)">
        <i class="fa-solid fa-plus"></i
      ></a>
    </div>
  </div>

  <div class="row mb-3" *ngFor="let educacion of educaciones">
    <div class="col-4 col-sm-3 col-lg-2 text-center">
      <img class="logo-img img-fluid" src="{{ educacion.img }}" />
    </div>

    <div class="col-5 col-sm-7 col-lg-9 mb-3">
      <h3 class="mb-3">{{ educacion.institucion }}</h3>
      <p class="mb-3">{{ educacion.titulo }}</p>
      <p class="mb-3">{{ educacion.periodoEstudio }}</p>
    </div>

    <div class="col-3 col-sm-2 col-lg-1">
      <a *ngIf="isAdmin"
        (click)="openEdit(editEdu, educacion)"
        class="btn btn-edit gap-1"
        ><i class="fa-solid fa-pen"></i
      ></a>

      <a *ngIf="isAdmin"
        (click)="openDelete(contentDelete, educacion)"
        class="btn btn-edit gap-1"
        ><i class="fa-solid fa-eraser"></i
      ></a>
    </div>
  </div>
</div>

<!-- Modal Agregar -->

<ng-template #agregarEdu let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Educacion</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label>Institucion:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="institucion"
            id="institucion"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="institucion">Titulo:</label>
        <div class="input-group">
          <input id="titulo"
          name="titulo"
          class="form-control"
          ngModel />
        </div>
      </div>
      <div class="form-group">
        <label for="periodoEstudio">Periodo:</label>
        <div class="input-group">
          <input
            id="periodoEstudio"
            name="periodoEstudio"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input
            id="img"
            name="img"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <br />
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="c('Save click')"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Editar -->

<ng-template #editEdu let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Educacion</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="institucion">Institucion:</label>
        <div class="input-group">
          <input formControlName="institucion" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <div class="input-group">
          <input formControlName="titulo" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="periodoEstudio">Periodo:</label>
        <div class="input-group">
          <input formControlName="periodoEstudio" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input formControlName="img" class="form-control" />
        </div>
      </div>
    </form>

    <div class="modal-footer">

      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Save click')"
      >
        Cerrar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()">
        Actualizar
      </button>
    </div>
  </div>
</ng-template>

<!-- Modal Eliminar -->

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Educacion</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
    </button>
  </div>
  <div class="modal-body">
    <h3>¿Está seguro de eliminar este registro? </h3>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn  btn-primary"
      (click)="modal.close('Save click')"
    >
      Cerrar
    </button>
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
      Eliminar
    </button>
  </div>
</ng-template>
