<div class="container-cards shadow-sm">
  <div class="row">
    <div class="col-8 col-sm-3 mb-4 col-lg-2">
      <h2>Educacion</h2>
    </div>
    <div class="col-4 col-sm-9 col-lg-10">
      <a class="btn p-0"> <i class="fa-solid fa-plus"></i></a>
    </div>
  </div>

  <div class="row mb-3" *ngFor="let educacion of educaciones">
    <div class="col-4 col-sm-3 col-lg-2 text-center">
      <img class="logo-img bg-black img-fluid" src="{{ educacion.img }}" />
    </div>

    <div class="col-5 col-sm-7 col-lg-9 mb-3">
      <h3 class="mb-3">{{ educacion.institucion }}</h3>
      <p class="mb-3">{{ educacion.titulo }}</p>
      <p class="mb-3">{{ educacion.periodoEstudio }}</p>
    </div>

    <div class="col-3 col-sm-2 col-lg-1">
      <a
        (click)="tomarId(educacion)"
        class="btn gap-1"
        data-bs-toggle="modal"
        data-bs-target="#educacionModal"
        ><i class="fa-solid fa-pen"></i
      ></a>

      <a
        class="btn gap-1"
        data-bs-toggle="modal"
        data-bs-target="#EliminarModal"
        ><i class="fa-solid fa-eraser"></i
      ></a>
    </div>
  </div>
</div>



<!-- Eliminar Model -->
<!-- <div
  class="modal fade"
  id="EliminarModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro que quieres eliminar este contenido?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div> -->
