
<footer class="text-center shadow-sm text-lg-start text-primary card">

<section
    class="d-flex justify-content-center justify-content-lg-between p-4"
>
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    <span>Contáctame en mis redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <a href="mailto:mauri.rios991@gmail.com"
        target="_blank"
        class="me-4 text-reset text-primary">
            <i class="fas fa-envelope"></i>
        </a>
    <a href="https://www.instagram.com/mauricio_rios28/"
    target="_blank" class="me-4 text-reset text-primary">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/mauricio-osvaldo-rios-60b99116a/"
    target="_blank" class="me-4 text-reset text-primary">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/MauriRios"
    target="_blank" class="me-4 text-reset text-primary">
        <i class="fab fa-github"></i>
    </a>
    </div>
</section>
</footer>

