

<div class="container-fluid shadow-sm p-0 mb-2 bg-primary">
    <nav class="navbar navbar-dark d-flex ">
      <div class="container">
        <span class="p-2 fs-2">Mauricio Rios</span>
        <span class="justify-content-right m-0">
          <a href="#"
            ><img
              class="img_instagram"
              width="40px"
              height="40px"
              src="../assets/img/logo_instagram.png"
              alt="Instagram"
          /></a>
          <a href="#"
            ><img
              class="img_linkedin"
              width="53px"
              height="53px"
              right="5px"
              src="../assets/img/linkedin_logo.png"
              alt="Linkedin"
          /></a>
          <button id="login" type="button" class="btn btn-dark">Login</button>
          <button id="logout" type="button" class="btn btn-dark">Logout</button>
        </span>
      </div>
    </nav>
  </div>