

<div class="container-fluid shadow-sm bg-dark ">
    <nav class="navbar navbar-dark">
      <div class="container d-flex">
        <img  class="img_argentinaprogramanavbar"
              src="../assets/img\APLogo-20-20.png"
              alt="Argentina Programa"
               />
        <span class="p-2 fs-3 text-white ">{{ persona.nombreApellido }}</span>
        <span class="justify-content-right">

         <button class="btn"><a href="#" target="_blank">
           <i class="fab fa-instagram"></i>
        </a></button>

          <button class="btn">
          <a href="https://www.linkedin.com/in/mauricio-osvaldo-rios-60b99116a/" target="_blank">
          <i class="fab fa-linkedin"></i></a>
        </button>

          <button class="btn"><a href="#" target="_blank">
            <i class="fa-solid fa-right-to-bracket"></i>
          </a></button>

          <!-- <button class="btn"><i class="fa-solid fa-right-from-bracket"></i></button> -->
        </span>
      </div>
    </nav>
  </div>