<nav class="container-fluid shadow-sm bg-dark">
    <div class="row container-fluid align-items-baseline">
      <div class="col-12 col-sm-4">
        <span>
          <img  [routerLink]="'/home'"
              class="btn img_argentinaprogramanavbar"
              src="../assets/img\APLogo-20-20.png"
              alt="Argentina Programa"
              />
        </span>
      </div>

<div class="col-12 col-sm-8 d-flex justify-content-start justify-content-sm-end">
    <button class="btn btn-edit">
      <a href="https://www.instagram.com/mauricio_rios28/" 
      target="_blank" 
      placement="bottom" ngbTooltip="Instagram">
      <i class="fab fa-instagram fa-2x"></i>
    </a></button>

      <button class="btn btn-edit">
      <a href="https://www.linkedin.com/in/mauricio-osvaldo-rios-60b99116a/" 
      target="_blank"
      placement="bottom" ngbTooltip="Linkedin">
      <i class="fab fa-linkedin fa-2x"></i></a>
      </button>

        <button id="defaultTheme"
        class="btn btn-edit btn-dark"
        (click)="changeTheme('default')"
        placement="bottom" ngbTooltip="Modo Claro"
        ><i  class="fa-solid fa-sun text-primary fa-2x"></i>
      </button>
      <button id="darkTheme"
          (click)="changeTheme('dark')"
          class="btn btn-edit btn-dark"
          placement="bottom" ngbTooltip="Modo Oscuro"
          ><i class="fa-solid text-primary fa-moon fa-2x"></i>
        </button>
      
        <button *ngIf="!isLogged" class="btn btn-edit"
        placement="bottom" ngbTooltip="Iniciar Sesión">
          <a  routerLink="/login"><i class="fa fa-2x fa-sign-in-alt"></i></a>
        </button>
        <button *ngIf="isLogged" class="btn btn-edit"
        placement="bottom" ngbTooltip="Cerrar Sesión">
          <a routerLink="/home"(click)="onLogOut()"><i class="fa-2x fa-solid fa-right-from-bracket"></i></a>
        </button>
      </div>
  </div>
</nav>
