<div class="card_header card shadow-sm">
  <img class="img_banner shadow-sm" src="../assets/img/iex.jpg" alt="banner" />
  <img src="{{ persona.img }}" alt="Perfil" class="img_perfil shadow-sm" />
  <div class="card_header_text">
    <button *ngIf="isAdmin"
      class="edit-header btn-edit btn"
      data-bs-toggle="modal"
      data-bs-target="#perfilModal"
    >
      <i class="fa-solid fa-pen "></i>
    </button>

    <div >
      <h1>{{ persona.nombreApellido }}</h1>
      <p>{{ persona.puesto }}</p>
      <p>
        {{ persona.paisCiudad }}
        <a
          href="https://www.linkedin.com/in/mauricio-osvaldo-rios-60b99116a/"
          target="_blank"
          >Contacto</a
        >
      </p>
    </div>
  </div>
</div>

<!-- Modal de editar -->

<div
  class="modal fade"
  id="perfilModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar Perfil</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <form (ngSubmit)="Editar(persona)">
          <div class="form-group">
            <label>Nombre y Apellido:</label>
            <input
              class="form-control"
              type="text"
              placeholder="Nombre y Apellido"
              [(ngModel)]="persona.nombreApellido"
              name="nombreApellido"
            />
          </div>
          <div class="form-group">
            <label>Puesto:</label>
            <input
              class="form-control"
              type="text"
              placeholder="Puesto"
              [(ngModel)]="persona.puesto"
              name="puesto"
            />
          </div>
          <div class="form-group">
            <label>Pais y Ciudad:</label>
            <input
              class="form-control"
              type="text"
              placeholder="Pais y Ciudad"
              [(ngModel)]="persona.paisCiudad"
              name="paisCiudad"
            />
          </div>
          <div class="form-group">
            <label>Imagen:</label>
            <input
              class="form-control"
              type="text"
              placeholder="Imagen de Perfil"
              [(ngModel)]="persona.img"
              name="img"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>

            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
