<div class="card_header shadow-sm">
  <img class="img_banner shadow-sm" src="../assets/img/iex.jpg" alt="banner" />
  <img src="{{ persona.img }}" alt="Perfil" class="img_perfil shadow-sm" />
  <div class="card_header_text">
    <button  
    class="edit-header btn"
    data-bs-toggle="modal"
    data-bs-target="#perfilModal"
    ><i class="fa-solid fa-pen"></i
    ></button>
  
    <div>
      <h1>{{ persona.nombreApellido }}</h1>
      <p>{{ persona.puesto }}</p>
      <p>
        {{ persona.paisCiudad }}
        <a
          href="https://www.linkedin.com/in/mauricio-osvaldo-rios-60b99116a/"
          target="_blank"
          >Contacto</a>
      </p>
    </div>
  </div>
</div>
