<div class="container-cards shadow-sm">
  <div class="row">
      <div class="col-8 col-sm-3 col-lg-2 mb-4">
      <h2>Experiencia</h2>
      </div>
      <div class="col-4 col-sm-9 col-lg-10">
      <a
      (click)="onAgregar(agregarExp)"
      class="btn p-0"
      data-bs-toggle="modal"
      data-bs-target="#experienciaModalAgregar"
      ><i class="fa-solid fa-plus"></i
      ></a>
      </div>
  </div>
  <div class="row mb-3" *ngFor="let experiencia of experiencias">
    <div class="col-4 col-sm-3 col-lg-2 text-center">
      <img class="logo-exp img-fluid" src="{{ experiencia.img }}" />
    </div>

    <div class="col-5 col-sm-7 col-lg-9">
      <h3 class="mb-3">{{experiencia.id}} {{ experiencia.empresa }}</h3>
      <p class="mb-3">{{ experiencia.puesto }}</p>
      <p>{{ experiencia.periodoTrabajado }}</p>
    </div>

    <div class="col-3 col-sm-2 col-lg-1">
      <a
        data-bs-toggle="modal"
        data-bs-target="#experienciaModalEditar"
        (click)="openEdit(editExp, experiencia)"
        class="btn gap-1"
        ><i class="fa-solid fa-pen"></i
      ></a>

      <a
        (click)="openDelete(expDelete, experiencia)"
        data-bs-toggle="modal"
        data-bs-target="#experienciaModalEliminar"
        type="button"
        class="btn gap-1"
        ><i class="fa-solid fa-eraser"></i
      ></a>
      
    </div>
  </div>
</div>
  
  
<ng-template #agregarExp let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Experiencia</h4>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label>Empresa:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="empresa"
            id="empresa"
            ngModel
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="puesto">Puesto:</label>
        <div class="input-group">
          <input id="puesto"
          name="puesto"
          class="form-control"
          ngModel />
        </div>
      </div>
      <div class="form-group">
        <label for="periodoTrabajado">Periodo:</label>
        <div class="input-group">
          <input
            id="periodoTrabajado"
            name="periodoTrabajado"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input
            id="img"
            name="img"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <br />
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-outline-dark"
          (click)="c('Save click')"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editExp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Experiencia</h4>
    <button
      type="button"
      class="close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <div class="input-group">
          <input formControlName="empresa" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="puesto">Puesto:</label>
        <div class="input-group">
          <input formControlName="puesto" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="periodoTrabajado">Periodo:</label>
        <div class="input-group">
          <input formControlName="periodoTrabajado" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input formControlName="img" class="form-control" />
        </div>
      </div>
    </form>

    <div class="modal-footer">

      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Save click')"
      >
        Cerrar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="onSave()">
        Actualizar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #expDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Experiencia</h4>
    <button
      type="button"
      class="close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Cerrar
    </button>
    <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
      Eliminar
    </button>
  </div>
</ng-template>