<div class="container_experiencia shadow-sm">
    <div class="experiencia_titulo"><h2>Experiencia</h2></div>
    <div class="experiencia_icono"><img class="img_utest" src="../assets/img/uTestLogoNav.png" alt="Utest"></div>
    <div class="experiencia_text">            <h3>Utest</h3>
      <p>QA Tester manual jr</p>
      <p>Julio 2021 - Actualiad</p></div>
    <div class="experiencia_edit d-flex gap-2">
      <a class="btn p-0"><i class="fa-solid fa-plus"></i></a>
      <a class="btn p-0"><i class="fa-solid fa-pen"></i></a>
      <a class="btn p-0"><i class="fa-solid fa-eraser"></i></a>
    </div>
  </div>