<div class="card_acerca shadow-sm">
  <div class="acerca_de">
    <div>
      <h2>Acerca de</h2>
      <span id="acercade_text">
        Programador Web Full Stack jr, con conocimientos de testing,
        metodologias agiles, scrum. Argentino, amante de la tecnologia y el
        gaming
      </span>
    </div>
  </div>
  <div class="stack_area">
    <div>
      <h3 class="mt-2" >Stack Tecnologico</h3>
    </div>
    <div>
      <p
        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
        explicabo dolore exercitationem, ea totam ducimus. Omnis, animi alias
        inventore provident eos quaerat rerum distinctio nemo impedit at
        voluptatem, facere perferendis?</p
      >
    </div>
  </div>
  <div class="stack_edit d-flex"></div>
  <div class="acerca_edit justify-content-right d-flex gap-2">
    <a class="btn p-0"><i class="fa-solid fa-pen"></i></a>
    <a class="btn p-0"><i class="fa-solid fa-eraser"></i></a>
  </div>
</div>
