<!-- Modal de editar -->
<!-- <div
  class="modal fade"
  id="experienciaModalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar Experiencias</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="experienciaForm" >
          <div class="form-group">
            <label>Empresa:</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="experiencia.empresa"
              name="empresa"
              formControlName="empresa"
            />
          </div>
          <div class="form-group">
            <label>Puesto:</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="experiencia.puesto"
              name="puesto"
              formControlName="puesto"
            />
          </div>
          <div class="form-group">
            <label>Periodo Trabajado:</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="experiencia.periodoTrabajado"
              name="periodoTrabajado"
              formControlName="periodoTrabajado"
            />
          </div>
          <div class="form-group">
            <label>Imagen:</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="experiencia.img"
              name="img"
              formControlName="img"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              
            >
              Cerrar
            </button>

            <button
              (click)="Actualizar(experiencia)"
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="card">
  <div class="card-header">
    <h3>Editar Experiencia: {{experiencia.id}}</h3>
  </div>
  <div class="card-body">

    <form [formGroup]="experienciaForm" >
      <div class="form-group">
        <label>Empresa:</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="experiencia.empresa"
          name="empresa"
          formControlName="empresa"
        />
      </div>
      <div class="form-group">
        <label>Puesto:</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="experiencia.puesto"
          name="puesto"
          formControlName="puesto"
        />
      </div>
      <div class="form-group">
        <label>Periodo Trabajado:</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="experiencia.periodoTrabajado"
          name="periodoTrabajado"
          formControlName="periodoTrabajado"
        />
      </div>
      <div class="form-group">
        <label>Imagen:</label>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="experiencia.img"
          name="img"
          formControlName="img"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          
        >
          Cerrar
        </button>

        <button
          (click)="Actualizar(experiencia)"
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Guardar Cambios
        </button>
      </div>
    </form>

  </div>
</div>

