<div class="container-cards row shadow-sm d-flex">
  <div class="col-12 col-sm-12">
    <h2>Hard and Soft Skills</h2>
  </div>

    <div class="row">
      <div class="col-4 col-sm-5">
        <h3>Hard Skills</h3>
      </div>
      <div class="col-1 col-sm-1">
        <a class="btn p-0">
          <i class="fa-solid fa-plus"></i></a>
      </div>
      <div class="col-4 col-sm-5">
        <h3>Soft Skills</h3>
      </div>
      <div class="col-1 col-sm-1">
        <a class="btn p-0"><i class="fa-solid fa-plus"></i></a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-4 col-sm-5 mb-2">
        <span><b>Resolucion de problemas</b></span>
      </div>

      <div class="col-2 col-sm-1 mb-2 gap-2">

        <a class="btn p-0"
           data-bs-toggle="modal"
           data-bs-target="#skillsModal"
          ><i class="fa-solid fa-pen"></i
        ></a>
        <a
          class="btn p-0"
          data-bs-toggle="modal"
          data-bs-target="#EliminarModal"
          ><i class="fa-solid fa-eraser"></i
        ></a>
      </div>

      <div class="col-4 col-sm-5 mb-2 ">
        <span><b>Resolucion de problemas</b></span>
      </div>

      <div class="col-2 col-sm-1 mb-2 ">
        <a class="btn p-0" data-bs-toggle="modal" data-bs-target="#skillsModal"
          ><i class="fa-solid fa-pen"></i
        ></a>
        <a
          class="btn p-0"
          data-bs-toggle="modal"
          data-bs-target="#EliminarModal"
          ><i class="fa-solid fa-eraser"></i
        ></a>
      </div>

    </div>
  
    <div class="row">

      <div class="col-4 col-sm-5 mb-2">

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
            style="width: 75%"></div>
        </div>
        
        

      </div>

        <div class="col-2 col-sm-1 mb-2">
        </div>

        <div class="col-4 col-sm-5 mb-2">

         <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
            style="width: 75%">
          </div></div>

        </div>
          <div class="col-2 col-sm-1 mb-2">
          </div>

      </div>

    </div>
  
<!-- Hard And Soft Edit Modal -->
<div
  class="modal fade"
  id="skillsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hard And Soft Skills Editar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="">
          <h5>Titulo del skill</h5>
          <input type="text" placeholder="Titulo del skill" />
          <h5>Barra</h5>
          <input type="text" placeholder="Barra" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>